body {
	background-color: lightgrey;
}

div#scroll {
	position: absolute;
	margin: auto;
}

div.image {
	position: relative;
	width: 31.5%;
	margin: 0.7%;
	float: left;
	
}

img.blur {
	width: 100%;
	border-radius: 1%;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.image:hover .blur {
	-webkit-filter: brightness(85%) blur(2px);
	filter: brightness(85%) blur(2px);
	overflow: hidden;
}

.image:hover > h2 { 
	opacity:1;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
}

h2 {
	position: absolute; 
	top: 40%; 
	left: 15%; 
	width: 70%;
	text-align: center;
	opacity:0;
	transition:opacity 0.5s linear;
}

.text { 
	color: white; 
	font-family: 'Open Sans', 'Arial', sans-serif;
	line-height: 2em;
	letter-spacing: 1;
}

.shot_title {
	font-weight: bold;
	font-size: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.shot_author {
	font-weight: 200;
	font-size: 0.8em;
	display: inline-block;
	font-style: italic;
}

.line {
	background-color: white;
	height: 2px;
}

